<%= form_for(@ordenes_de_producciones_detalle) do |f| %>
  <% if @ordenes_de_producciones_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordenes_de_producciones_detalle.errors.count, "error") %> prohibited this ordenes_de_producciones_detalle from being saved:</h2>

      <ul>
      <% @ordenes_de_producciones_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad_solicitada %><br>
    <%= f.number_field :cantidad_solicitada %>
  </div>
  <div class="field">
    <%= f.label :cantidad_terminada %><br>
    <%= f.number_field :cantidad_terminada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
