<h1>Listing solicitudes_componentes_detalles</h1>

<table>
  <thead>
    <tr>
      <th>Solicitud componente</th>
      <th>Componente</th>
      <th>Cantidad solicitada</th>
      <th>Cantidad entregada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitudes_componentes_detalles.each do |solicitud_componente_detalle| %>
      <tr>
        <td><%= solicitud_componente_detalle.solicitud_componente %></td>
        <td><%= solicitud_componente_detalle.componente %></td>
        <td><%= solicitud_componente_detalle.cantidad_solicitada %></td>
        <td><%= solicitud_componente_detalle.cantidad_entregada %></td>
        <td><%= link_to 'Show', solicitud_componente_detalle %></td>
        <td><%= link_to 'Edit', edit_solicitud_componente_detalle_path(solicitud_componente_detalle) %></td>
        <td><%= link_to 'Destroy', solicitud_componente_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitud componente detalle', new_solicitud_componente_detalle_path %>
