<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitud componente:</strong>
  <%= @solicitud_componente_detalle.solicitud_componente %>
</p>

<p>
  <strong>Componente:</strong>
  <%= @solicitud_componente_detalle.componente %>
</p>

<p>
  <strong>Cantidad solicitada:</strong>
  <%= @solicitud_componente_detalle.cantidad_solicitada %>
</p>

<p>
  <strong>Cantidad entregada:</strong>
  <%= @solicitud_componente_detalle.cantidad_entregada %>
</p>

<%= link_to 'Edit', edit_solicitud_componente_detalle_path(@solicitud_componente_detalle) %> |
<%= link_to 'Back', solicitudes_componentes_detalles_path %>
