<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria_producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @categoria_producto.descripcion %>
</p>

<%= link_to 'Edit', edit_categoria_producto_path(@categoria_producto) %> |
<%= link_to 'Back', categorias_productos_path %>
