<%= form_for(@producto_terminado) do |f| %>
  <% if @producto_terminado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto_terminado.errors.count, "error") %> prohibited this producto_terminado from being saved:</h2>

      <ul>
      <% @producto_terminado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelo_id %><br>
    <%= f.text_field :modelo_id %>
  </div>
  <div class="field">
    <%= f.label :categoria_producto_id %><br>
    <%= f.text_field :categoria_producto_id %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :cantidad_minima %><br>
    <%= f.number_field :cantidad_minima %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
