<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @producto_terminado.modelo %>
</p>

<p>
  <strong>Categoria producto:</strong>
  <%= @producto_terminado.categoria_producto %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @producto_terminado.codigo %>
</p>

<p>
  <strong>Cantidad minima:</strong>
  <%= @producto_terminado.cantidad_minima %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto_terminado.descripcion %>
</p>

<%= link_to 'Edit', edit_producto_terminado_path(@producto_terminado) %> |
<%= link_to 'Back', productos_terminados_path %>
