<%= form_for(@pedido_de_compra_componente) do |f| %>
  <% if @pedido_de_compra_componente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido_de_compra_componente.errors.count, "error") %> prohibited this pedido_de_compra_componente from being saved:</h2>

      <ul>
      <% @pedido_de_compra_componente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :baja %><br>
    <%= f.date_select :baja %>
  </div>
  <div class="field">
    <%= f.label :nro_formulario %><br>
    <%= f.number_field :nro_formulario %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
