<h1>Listing pedidos_de_compras_componentes</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Baja</th>
      <th>Nro formulario</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos_de_compras_componentes.each do |pedido_de_compra_componente| %>
      <tr>
        <td><%= pedido_de_compra_componente.fecha %></td>
        <td><%= pedido_de_compra_componente.baja %></td>
        <td><%= pedido_de_compra_componente.nro_formulario %></td>
        <td><%= pedido_de_compra_componente.estado %></td>
        <td><%= link_to 'Show', pedido_de_compra_componente %></td>
        <td><%= link_to 'Edit', edit_pedido_de_compra_componente_path(pedido_de_compra_componente) %></td>
        <td><%= link_to 'Destroy', pedido_de_compra_componente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido de compra componente', new_pedido_de_compra_componente_path %>
