<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @pedido_de_compra_componente.fecha %>
</p>

<p>
  <strong>Baja:</strong>
  <%= @pedido_de_compra_componente.baja %>
</p>

<p>
  <strong>Nro formulario:</strong>
  <%= @pedido_de_compra_componente.nro_formulario %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido_de_compra_componente.estado %>
</p>

<%= link_to 'Edit', edit_pedido_de_compra_componente_path(@pedido_de_compra_componente) %> |
<%= link_to 'Back', pedidos_de_compras_componentes_path %>
