<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @pedidos_de_compras_componente.fecha %>
</p>

<p>
  <strong>Baja de pedido:</strong>
  <%= @pedidos_de_compras_componente.baja_de_pedido %>
</p>

<p>
  <strong>Estado de pedido:</strong>
  <%= @pedidos_de_compras_componente.estado_de_pedido %>
</p>

<p>
  <strong>Numero de formulario:</strong>
  <%= @pedidos_de_compras_componente.numero_de_formulario %>
</p>

<%= link_to 'Edit', edit_pedidos_de_compras_componente_path(@pedidos_de_compras_componente) %> |
<%= link_to 'Back', pedidos_de_compras_componentes_path %>
