<p id="notice"><%= notice %></p>

<p>
  <strong>Deposito:</strong>
  <%= @solicitud_monitor_teclado.deposito %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @solicitud_monitor_teclado.deposito %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @solicitud_monitor_teclado.fecha %>
</p>

<p>
  <strong>Nro formulario:</strong>
  <%= @solicitud_monitor_teclado.nro_formulario %>
</p>

<%= link_to 'Edit', edit_solicitud_monitor_teclado_path(@solicitud_monitor_teclado) %> |
<%= link_to 'Back', solitudes_monitores_teclados_path %>
