<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad solicitada:</strong>
  <%= @formularios_cpus_producidas_detalle.cantidad_solicitada %>
</p>

<p>
  <strong>Cantidad terminada:</strong>
  <%= @formularios_cpus_producidas_detalle.cantidad_terminada %>
</p>

<%= link_to 'Edit', edit_formularios_cpus_producidas_detalle_path(@formularios_cpus_producidas_detalle) %> |
<%= link_to 'Back', formularios_cpus_producidas_detalles_path %>
