<h1>Listing pedidos_de_compras_de_componentes_detalles</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad solicitada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos_de_compras_de_componentes_detalles.each do |pedidos_de_compras_de_componentes_detalle| %>
      <tr>
        <td><%= pedidos_de_compras_de_componentes_detalle.cantidad_solicitada %></td>
        <td><%= link_to 'Show', pedidos_de_compras_de_componentes_detalle %></td>
        <td><%= link_to 'Edit', edit_pedidos_de_compras_de_componentes_detalle_path(pedidos_de_compras_de_componentes_detalle) %></td>
        <td><%= link_to 'Destroy', pedidos_de_compras_de_componentes_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedidos de compras de componentes detalle', new_pedidos_de_compras_de_componentes_detalle_path %>
