<h1>Listing traslado_detalles</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad terminada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traslado_detalles.each do |traslado_detalle| %>
      <tr>
        <td><%= traslado_detalle.cantidad_terminada %></td>
        <td><%= link_to 'Show', traslado_detalle %></td>
        <td><%= link_to 'Edit', edit_traslado_detalle_path(traslado_detalle) %></td>
        <td><%= link_to 'Destroy', traslado_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traslado detalle', new_traslado_detalle_path %>
