<%= form_for(@ordenes_de_produccione) do |f| %>
  <% if @ordenes_de_produccione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordenes_de_produccione.errors.count, "error") %> prohibited this ordenes_de_produccione from being saved:</h2>

      <ul>
      <% @ordenes_de_produccione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :numero_de_formulario %><br>
    <%= f.number_field :numero_de_formulario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
