<%= form_for(@traslado_productos_terminado) do |f| %>
  <% if @traslado_productos_terminado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traslado_productos_terminado.errors.count, "error") %> prohibited this traslado_productos_terminado from being saved:</h2>

      <ul>
      <% @traslado_productos_terminado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :numero_de_formulario %><br>
    <%= f.number_field :numero_de_formulario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
