<h1>Listing traslado_productos_terminados</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Numero de formulario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traslado_productos_terminados.each do |traslado_productos_terminado| %>
      <tr>
        <td><%= traslado_productos_terminado.fecha %></td>
        <td><%= traslado_productos_terminado.numero_de_formulario %></td>
        <td><%= link_to 'Show', traslado_productos_terminado %></td>
        <td><%= link_to 'Edit', edit_traslado_productos_terminado_path(traslado_productos_terminado) %></td>
        <td><%= link_to 'Destroy', traslado_productos_terminado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traslado productos terminado', new_traslado_productos_terminado_path %>
