<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @traslado_productos_terminado.fecha %>
</p>

<p>
  <strong>Numero de formulario:</strong>
  <%= @traslado_productos_terminado.numero_de_formulario %>
</p>

<%= link_to 'Edit', edit_traslado_productos_terminado_path(@traslado_productos_terminado) %> |
<%= link_to 'Back', traslado_productos_terminados_path %>
