<h1>Listing movimientos_productos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cantidad transferida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_productos.each do |movimientos_producto| %>
      <tr>
        <td><%= movimientos_producto.fecha %></td>
        <td><%= movimientos_producto.cantidad_transferida %></td>
        <td><%= link_to 'Show', movimientos_producto %></td>
        <td><%= link_to 'Edit', edit_movimientos_producto_path(movimientos_producto) %></td>
        <td><%= link_to 'Destroy', movimientos_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimientos producto', new_movimientos_producto_path %>
