<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @solicitudes_monitores_teclado.fecha %>
</p>

<p>
  <strong>Numero de formulario:</strong>
  <%= @solicitudes_monitores_teclado.numero_de_formulario %>
</p>

<%= link_to 'Edit', edit_solicitudes_monitores_teclado_path(@solicitudes_monitores_teclado) %> |
<%= link_to 'Back', solicitudes_monitores_teclados_path %>
