<h1>Listing stocks_componentes</h1>

<table>
  <thead>
    <tr>
      <th>Deposito</th>
      <th>Componente</th>
      <th>Cantidad disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks_componentes.each do |stock_componente| %>
      <tr>
        <td><%= stock_componente.deposito %></td>
        <td><%= stock_componente.componente %></td>
        <td><%= stock_componente.cantidad_disponible %></td>
        <td><%= link_to 'Show', stock_componente %></td>
        <td><%= link_to 'Edit', edit_stock_componente_path(stock_componente) %></td>
        <td><%= link_to 'Destroy', stock_componente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock componente', new_stock_componente_path %>
