<p id="notice"><%= notice %></p>

<p>
  <strong>Deposito:</strong>
  <%= @stock_componente.deposito %>
</p>

<p>
  <strong>Componente:</strong>
  <%= @stock_componente.componente %>
</p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @stock_componente.cantidad_disponible %>
</p>

<%= link_to 'Edit', edit_stock_componente_path(@stock_componente) %> |
<%= link_to 'Back', stocks_componentes_path %>
