<h1>Listing stocks_productos_terminados</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks_productos_terminados.each do |stocks_productos_terminado| %>
      <tr>
        <td><%= stocks_productos_terminado.cantidad_disponible %></td>
        <td><%= link_to 'Show', stocks_productos_terminado %></td>
        <td><%= link_to 'Edit', edit_stocks_productos_terminado_path(stocks_productos_terminado) %></td>
        <td><%= link_to 'Destroy', stocks_productos_terminado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stocks productos terminado', new_stocks_productos_terminado_path %>
