<p id="notice"><%= notice %></p>

<p>
  <strong>Deposito:</strong>
  <%= @stock_producto_terminado.deposito %>
</p>

<p>
  <strong>Producto terminado:</strong>
  <%= @stock_producto_terminado.producto_terminado %>
</p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @stock_producto_terminado.cantidad_disponible %>
</p>

<%= link_to 'Edit', edit_stock_producto_terminado_path(@stock_producto_terminado) %> |
<%= link_to 'Back', stocks_productos_terminados_path %>
