<%= form_for(@formularios_cpus_producida) do |f| %>
  <% if @formularios_cpus_producida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formularios_cpus_producida.errors.count, "error") %> prohibited this formularios_cpus_producida from being saved:</h2>

      <ul>
      <% @formularios_cpus_producida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orden %><br>
    <%= f.date_select :orden %>
  </div>
  <div class="field">
    <%= f.label :numero_de_formulario %><br>
    <%= f.number_field :numero_de_formulario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
