<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @formularios_cpus_producida.orden %>
</p>

<p>
  <strong>Numero de formulario:</strong>
  <%= @formularios_cpus_producida.numero_de_formulario %>
</p>

<%= link_to 'Edit', edit_formularios_cpus_producida_path(@formularios_cpus_producida) %> |
<%= link_to 'Back', formularios_cpus_producidas_path %>
