<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad solicitada:</strong>
  <%= @solicitudes_detalle.cantidad_solicitada %>
</p>

<p>
  <strong>Cantidad entregada:</strong>
  <%= @solicitudes_detalle.cantidad_entregada %>
</p>

<%= link_to 'Edit', edit_solicitudes_detalle_path(@solicitudes_detalle) %> |
<%= link_to 'Back', solicitudes_detalles_path %>
