<%= form_for(@traslado_producto_terminado) do |f| %>
  <% if @traslado_producto_terminado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traslado_producto_terminado.errors.count, "error") %> prohibited this traslado_producto_terminado from being saved:</h2>

      <ul>
      <% @traslado_producto_terminado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orden_de_produccion_id %><br>
    <%= f.text_field :orden_de_produccion_id %>
  </div>
  <div class="field">
    <%= f.label :deposito_id %><br>
    <%= f.text_field :deposito_id %>
  </div>
  <div class="field">
    <%= f.label :deposito_id %><br>
    <%= f.text_field :deposito_id %>
  </div>
  <div class="field">
    <%= f.label :nro_formulario %><br>
    <%= f.number_field :nro_formulario %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
