<h1>Listing traslados_productos_terminados</h1>

<table>
  <thead>
    <tr>
      <th>Orden de produccion</th>
      <th>Deposito</th>
      <th>Deposito</th>
      <th>Nro formulario</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traslados_productos_terminados.each do |traslado_producto_terminado| %>
      <tr>
        <td><%= traslado_producto_terminado.orden_de_produccion %></td>
        <td><%= traslado_producto_terminado.deposito %></td>
        <td><%= traslado_producto_terminado.deposito %></td>
        <td><%= traslado_producto_terminado.nro_formulario %></td>
        <td><%= traslado_producto_terminado.fecha %></td>
        <td><%= link_to 'Show', traslado_producto_terminado %></td>
        <td><%= link_to 'Edit', edit_traslado_producto_terminado_path(traslado_producto_terminado) %></td>
        <td><%= link_to 'Destroy', traslado_producto_terminado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traslado producto terminado', new_traslado_producto_terminado_path %>
