<p id="notice"><%= notice %></p>

<p>
  <strong>Orden de produccion:</strong>
  <%= @traslado_producto_terminado.orden_de_produccion %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @traslado_producto_terminado.deposito %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @traslado_producto_terminado.deposito %>
</p>

<p>
  <strong>Nro formulario:</strong>
  <%= @traslado_producto_terminado.nro_formulario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @traslado_producto_terminado.fecha %>
</p>

<%= link_to 'Edit', edit_traslado_producto_terminado_path(@traslado_producto_terminado) %> |
<%= link_to 'Back', traslados_productos_terminados_path %>
